<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="all">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.MC.S1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditNote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddNote"
            android:label="@string/title_activity_add_note"
            android:parentActivityName=".activity.Home"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Home" />
        </activity>
        <activity
            android:name=".activity.NoteDetails"
            android:label="@string/title_activity_note_details"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.Home"></activity>

    </application>

</manifest>