<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/OneTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".Activity.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Auth.Register" />
        <activity android:name=".Auth.Login" />
        <activity android:name=".Auth.ForgetPassword" />
        <activity android:name=".Activity.EditNote" />

        <activity
            android:name=".Activity.AddNote"
            android:label="@string/title_activity_add_note"
            android:parentActivityName=".Activity.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Home" />
        </activity>

        <activity
            android:name=".Activity.NoteDetails"
            android:label="@string/title_activity_note_details" />
        <activity android:name=".Activity.Home">

        </activity>

    </application>

</manifest>